In [1]:
import pandas as pd

In [2]:
#for ods files in linux
#!pip3 install pandas_ods_reader
#for excel files
!pip3 install xlrd

Collecting xlrd
  Using cached https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [3]:
#for ods files in linux
#from pandas_ods_reader import read_ods

In [4]:
#df = read_ods('ECO102_Sec-3_Emails.ods', 1)
df = pd.read_excel('ECO102_Sec-3_Emails.xls')

In [5]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,STUDENT DAILY ATTENDANCE SHEET\nSemester :Summ...,NaN,NaN,NaN,NaN,NaN
1,NaN,SL,Name,1.0,NaN,NaN,NaN
2,NaN,1,SHEIKH ISRAT JAHAN SHULTANA,NaN,NaN,NaN,"israt.sultana331@gmail.com,tanviraman@hotmail...."
3,NaN,2,SK MD TANVIR AMAN,NaN,NaN,NaN,NaN
4,NaN,3,RIYO HAYAT KHAN,NaN,NaN,NaN,NaN

In [6]:
df = df.iloc[1:]
del df['Unnamed: 0']
del df['Unnamed: 3']
del df['Unnamed: 4']
del df['Unnamed: 5']

In [7]:
new_header = df.iloc[0] 
df = df[1:] 
df.columns = new_header

In [8]:
df.columns = ['SL', 'Name', 'Emails']

In [9]:
df.head()

,SL,Name,Emails
2,1,SHEIKH ISRAT JAHAN SHULTANA,"israt.sultana331@gmail.com,tanviraman@hotmail...."
3,2,SK MD TANVIR AMAN,NaN
4,3,RIYO HAYAT KHAN,NaN
5,4,MOSHIUR RAHMAN,NaN
6,5,OMAR MINHAZ AOYON,NaN

In [10]:
email = df.loc[2, 'Emails']
email

'israt.sultana331@gmail.com,tanviraman@hotmail.com,riyokhan7@gmail.com,moshiurrjrr@gmail.com,omarminhaz81@gmail.com,rizwanulratul.192@gmail.com,sahaadittya@gmail.com,hasnatabdullah79@gmail.com,nazib841@gmail.com,sadman07araf@gmail.com,sayedsadat98@gmail.com,dibyodofadar@gmail.com,nabonita.bracu@gmail.com,nuzhatsaleheen91@gmail.com,khadijakhanambb@gmail.com,swapanbiswas1998@gmail.com,sudip.98@outlook.com,abohomangolpo2016@gmail.com,abysswatcher03@gmail.com,fahim.ishtiak@gmail.com,moyeenuddin25499@gmail.com,arif.akib632@gmail.com,saifakhterabir69@gmail.com,zislamm19@gmail.com,mashaiat.afsin@gmail.com,masumamaria365@gmail.com,ayshisinthia25@gmail.com,fatemamou@yahoo.com,nowsheensa10@gmail.com,upoma.sariya@gmail.com,panda.pushan@gmail.com,ayesha.abdullah59@gmail.com,arischowdhury@yahoo.com,sawbansohive1997@gmail.com,nishat19promi@gmail.com,nishuahmed92@gmail.com,tanzim.mostafa9@gmail.com,sartajjc@gmail.com,thunderblazer28@gmail.com,shohagrana64@gmail.com'

In [11]:
emails = []
emails = email.split(',')

In [12]:
i = 2
for e in emails:
    df.at[i, 'Emails'] = e
    i += 1

In [13]:
df.head(40)

    SL                         Name                       Emails
2    1  SHEIKH ISRAT JAHAN SHULTANA   israt.sultana331@gmail.com
3    2            SK MD TANVIR AMAN       tanviraman@hotmail.com
4    3              RIYO HAYAT KHAN          riyokhan7@gmail.com
5    4               MOSHIUR RAHMAN        moshiurrjrr@gmail.com
6    5            OMAR MINHAZ AOYON       omarminhaz81@gmail.com
7    6         RIZWANUL HOQUE RATUL  rizwanulratul.192@gmail.com
8    7       ADITTYA SOUKARJYA SAHA        sahaadittya@gmail.com
9    8           HASNAT MD ABDULLAH   hasnatabdullah79@gmail.com
10   9               NAZIBUR RAHMAN           nazib841@gmail.com
11  10                  SADMAN ARAF       sadman07araf@gmail.com
12  11               SAYED US SADAT       sayedsadat98@gmail.com
13  12         DIBYO FABIAN DOFADAR       dibyodofadar@gmail.com
14  13       NABONITA PODDER BRISTI     nabonita.bracu@gmail.com
15  14        NUZHAT BINTE SALEHEEN   nuzhatsaleheen91@gmail.com
16  15          KHADIJA KHANAM LIVA    khadijakhanambb@gmail.com
17  16             SOPTORSHI BISWAS   swapanbiswas1998@gmail.com
18  17         SUDIP KUMAR SENGUPTA         sudip.98@outlook.com
19  18          MOSTOFA KAMAL SAGOR  abohomangolpo2016@gmail.com
20  19            MD HASHIBUL ISLAM     abysswatcher03@gmail.com
21  20   SYED ISHTIAQUE ISLAM FAHIM      fahim.ishtiak@gmail.com
22  21             MD. MOYEEN UDDIN   moyeenuddin25499@gmail.com
23  22                ARIF ISTIAQUE       arif.akib632@gmail.com
24  23                  SAIF AKHTER   saifakhterabir69@gmail.com
25  24                  JUBIYER ALI          zislamm19@gmail.com
26  25          SYED MASHAIAT AFSIN     mashaiat.afsin@gmail.com
27  26                 MASUMA AKTER     masumamaria365@gmail.com
28  27       SINTHIA MOZUMDER OYSHI     ayshisinthia25@gmail.com
29  28                 FATEMA AKTER          fatemamou@yahoo.com
30  29              NAUSHEEN SAMIHA       nowsheensa10@gmail.com
31  30         SARIYA MOMOTAJ UPOMA       upoma.sariya@gmail.com
32  31          FAIZA RAHMAN PUSHAN       panda.pushan@gmail.com
33  32     AYESHA TOMALEA ABDULLAH   ayesha.abdullah59@gmail.com
34  33      AHNAF MONZOOR CHOWDHURY      arischowdhury@yahoo.com
35  34                SAWBAN SOHIVE   sawbansohive1997@gmail.com
36  35          NISHAT SHAMA PROMEE      nishat19promi@gmail.com
37  36           SAIMA AHMED NISHU        nishuahmed92@gmail.com
38  37               TANZIM MOSTAFA    tanzim.mostafa9@gmail.com
39  38       SARTAJ JAMAL CHOWDHURY           sartajjc@gmail.com
40  39                   FAZLE RAFI    thunderblazer28@gmail.com
41  40                  SHOHAG RANA       shohagrana64@gmail.com

In [14]:
df.to_csv('ECO102_sec03_SIF_fixed.csv')